#main
{
    background-image: url(df_demo_vlf_image1_FR.png);
}
#content1
{
    background-image: url(df_demo_vlf_image2_FR.png);
}
#content2
{
    background-image: url(df_demo_vlf_image3_FR.png);
}
#content3
{
    background-image: url(df_demo_vlf_image12_FR.png);
}
#linkContent1
{
    background-image: url(df_demo_vlf_image4_FR.png);
}
#linkContent2
{
    background-image: url(df_demo_vlf_image5_FR.png);
}
#linkContent3
{
    background-image: url(df_demo_vlf_image6_FR.png);
}
#linkContent4
{
    background-image: url(df_demo_vlf_image7_FR.png);
}