#main
{
    background-image: url(df_demo_vlf_image1_JPN.png);
}
#content1
{
    background-image: url(df_demo_vlf_image2_JPN.png);
}
#content2
{
    background-image: url(df_demo_vlf_image3_JPN.png);
}
#content3
{
    background-image: url(df_demo_vlf_image12_JPN.png);
}
#linkContent1
{
    background-image: url(df_demo_vlf_image4_JPN.png);
}
#linkContent2
{
    background-image: url(df_demo_vlf_image5_JPN.png);
}
#linkContent3
{
    background-image: url(df_demo_vlf_image6_JPN.png);
}
#linkContent4
{
    background-image: url(df_demo_vlf_image7_JPN.png);
}